/*********************************************************************
 LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES
*********************************************************************/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/*********************************************************************
  YOUR MOBILE/BASE STYLES GO HERE
*********************************************************************/
* {
    box-sizing: border-box;
}

html, body{
  background-color: #white;
    font-size: 20px;
}

img {

  max-width: 100%;

}

.container{
  padding: 15px;
  max-width: 800px;
  margin: 0 auto;
}

}

p.container {
  font-size: 14px;
  padding-top: 4%;
  padding-bottom: 4%;
}
.flex{
  /*
  * When two elements combined exceed 100%
  * wrap to a new row
  */
  flex-wrap: wrap;

  /*
  * When the flex-basis doesn't add up to 100%,
  * distribute the negative space between the
  * elements
  */

  justify-content: space-between;
  font-size:  2em;
}

.icon, .text{
  padding: 15px;
  margin-bottom: 25px;
  border: 1px solid #9D7CD8;
  text-align: left;
  background-color: #BBEFC4;
  font-size: 16px;
}

/*
* Flex-basis between elements in a row add up to
* 97% and the 3% is distributed
*/
.icon {
  flex-basis: 25%;
}

.text {
  flex-basis: 72%;
}


/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px)
  {.flex {

display: flex;

}

img {

display: flex;

max-width: 100%

}
    /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
}

/*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 729px or larger -- so desktop */
}
